.cards {
  display: flex;
}

.cards.border .card {
  cursor: pointer;
  box-shadow: 1px 1px 36px -6px #ffffff70;
}

.cards.border .card:hover {
  transform: scale(1.03);
}

.card {
  padding: 10px;
  border: 1px solid #ffffff50;
  border-radius: 3px;
  width: 100px;
  background: #ffffff10;
  position: relative;
  margin-right: 12px;
  height: 130px;
  transition: 0.13s ease;
  transform: none;
  box-shadow: none;
}

.card.placeholder {
  /* cursor: pointer; */
  background: transparent;
  border: 1px dashed #ffffff50;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.13s ease;
  box-shadow: none !important;
  cursor: initial !important;
  transform: none !important;
}

.card.placeholder > .icon {
  color: #ffffff50;
  transition: 0.1s;
  display: none;
}

.card.placeholder:hover {
  /* cursor: pointer;
  background: #ffffff10; */
}

.card.placeholder:hover > .icon {
  /* display: block;
  color: #ffffffaa; */
}

.card__delete {
  border: none;
  color: rgb(198, 55, 55);
  font-size: 14px;
  position: absolute;
  display: block;
  background: transparent;
  right: 0px;
  top: 0px;
  padding: 5px 8px;
  cursor: pointer;
}

.card__title {
  font-family: 'Patrick Hand';
  font-weight: bold;
  text-align: center;
  width: 100%;
  margin-bottom: 8px;
  /* padding-bottom: 8px; */
  /* border-bottom: 1px solid #ffffff50; */
}

.card__details {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% + 8px);
  margin-left: -4px;
}

.card__details > p {
  padding: 4px;
  width: 50%;
  margin: 0;
  aspect-ratio: 1/1;
}

.card__detail {
  border: 1px solid #ffffff50;
  background: #ffffff00;
  border-radius: 1px;
  padding: 0px;
  width: 100%;
  height: 100%;
}

.card__detail > strong {
  font-size: 10px;
  text-align: center;
  width: 100%;
  display: block;
  font-weight: 300;
  margin-top: -2px;
}

.card__detail > span {
  text-align: center;
  display: block;
  width: 100%;
  margin: 0;
  margin-top: -2px;
  font-size: 16px;
}
