.player {
  width: 20px !important;
  height: 20px !important;
  min-width: 20px !important;
  min-height: 20px !important;
  max-width: 20px !important;
  max-height: 20px !important;
  background: rgb(18, 177, 18);
  border-radius: 999px;
  border: 3px solid rgb(18, 177, 18);
  color: white;
  z-index: 999;
  font-weight: bold;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 3px;
  margin-bottom: 3px;
  /* position: absolute; */
  /* cursor: pointer; */
  /* display: none; */
}

.player.moving {
  box-shadow: 1px 1px 40px -10px #00000020;
  border: 3px solid white;
}
