:root {
  --door-width: 6px;
}

.tiles {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 1fr);
  /* grid-column-gap: 2px;
  grid-row-gap: 2px; */
  background: #000000;
  height: calc(100vh - 96px);
  aspect-ratio: 1/1;
  margin: var(--padding);
  margin-left: 0;
  /* border: 2px solid white; */
  border-radius: 8px;
  /* border: 2px solid black; */
  box-shadow: 12px 12px 48px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 48px 0 rgba(21, 21, 34, 0.3), 0px 0px 120px -20px #00000090;
  /* overflow: hidden; */
  /* width: fit-content; */
}

.tile {
  background: #0a0a0c;
  aspect-ratio: 1/1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 0px 1px #000000;
  overflow: hidden;
  /* border: 1px solid transparent; */
}
.tile.hover {
  cursor: pointer;
  transition: 0.1s ease;
}
.tile.selectable:hover {
  filter: brightness(50%);
}
.tile.selectable {
  filter: brightness(180%);
  cursor: pointer;
  transition: 0.1s ease;
}
.tile.door {
  overflow: visible;
}
.tile.door::after {
  height: var(--door-width);
  width: 70%;
  background: rgb(243, 25, 25);
  position: absolute;
  display: block;
  content: '';
  z-index: 9999;
}
.tile.door.bottom::after {
  left: calc(15%);
  bottom: -3px;
}
.tile.door.top::after {
  left: calc(15%);
  top: -3px;
}
.tile.door.left::after {
  left: -3px;
  bottom: calc(15%);
  height: 70%;
  width: var(--door-width);
}
.tile.door.right::after {
  right: -3px;
  bottom: calc(15%);
  height: 70%;
  width: var(--door-width);
}
.tile.door.open::after {
  background: rgb(1, 252, 1);
}

.tile.building {
  /* background: #b9b2ac; */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.tile img.background {
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

.tile.building img.background {
  filter: brightness(90%) sepia(40%);
}

.tile.road img.background {
  filter: brightness(90%) sepia(70%);
}

.tile.road {
  /* background: #e8e8e8; */
}

.tile.exit::after {
  background: rgba(0, 255, 0, 0.233);
  position: absolute;
  content: '';
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.tile.start::after {
  background: rgba(0, 102, 255, 0.233);
  position: absolute;
  content: '';
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.tile.spawn::after {
  display: block;
  position: absolute;
  width: 80%;
  /* height: 20%; */
  background: rgba(255, 0, 0, 0.233);
  color: black;
  font-size: 16px;
  font-weight: bold;
  content: '';
  text-align: center;
  font-family: 'Open Sans';
  line-height: 16px;
  padding: 2px 4px;
  border-radius: 1px;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}
.tile__number {
  font-size: 12px;
  font-weight: bold;
  color: black;
  position: absolute;
  opacity: 0.5;
  left: 4px;
  top: 4px;
  background: rgba(255, 255, 255, 1);
  padding: 4px;
  width: 8px;
  height: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tile__zombies {
  position: absolute;
  bottom: 5px;
  left: 5px;
  display: flex;
  align-items: flex-start;
  height: fit-content;
  width: calc(100% - 10px);
}
.tile__players {
  position: absolute;
  top: 5px;
  left: 5px;
  display: flex;
  align-items: flex-start;
  height: fit-content;
  width: calc(100% - 10px);
}
